.form-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
}
.popup {
    display: none;
    position: fixed;
    padding: 20px;
    background-color: white;
    border: 2px solid #ccc;
    z-index: 10;
}
.popup.show {
    display: block;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.overlay.show {
    display: block;
}

.oppointment-size {
    line-height: 200%;
    border: 1px solid #00c6a9;
    border-radius: 3px;
    padding: 20px;
    margin: 20px;

}


.oppointment-size td{
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;

}



.popup button.btn {
    background-color: #252525;
    color: #ffffff;
    padding: 10px 45px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }





